// color
$main-black: hsl(0, 0%, 13%);
$main-sliver: hsl(0, 0%, 57%);
$main-white: hsl(0, 0%, 100%);

// font-size
$font-size-small: 12px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-h2: 20px;

// font-weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
