*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans TC, sans-serif;
  font-style: normal;
  // border: 1px solid red;
}
html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
Icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

/* 全局隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
